<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redefinição de Senha</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center;">
    <h2>Olá,</h2>
    <p>Você solicitou a redefinição de senha.</p>
    <p>Para redefinir sua senha, clique no botão abaixo:</p>
    
    <a th:href="${resetUrl}"
       style="display: inline-block; padding: 12px 20px; font-size: 16px; font-weight: bold; color: white;
              background-color: #11469b; text-decoration: none; border-radius: 5px;">
        Redefinir Senha
    </a>

    <p>Se você não solicitou essa redefinição, ignore este e-mail.</p>
    <p>Atenciosamente,<br>Equipe RotaFood</p>
</body>
</html>
